@import "tailwindcss";
@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-mainBackgroundColor: #0d1117;
  --color-columnBackgroundColor: #161c22;
}
html,
boddy,
#root {
  @apply bg-black text-white box-border;
}

::-webkit-scrollbar {
  width: 4px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Tailwind blue-500 */
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}
